*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
gradle/
.DS_Store
/build
local.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
/.idea/misc.xml
/.idea/vcs.xml
